@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Sonsuz döngü slider için animasyon */
@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Tailwind class gibi kullanılacak animasyon */
.animate-scrollLoop {
  animation: scrollLoop 25s linear infinite;
}

/* Hover edildiğinde durdurmak için */
.group:hover .animate-scrollLoop {
  animation-play-state: paused;
}
